.container {
    display: flex;
    justify-content: center;
    padding: 60px 20px;
}

.detail {
    background-color: white;
    width: 80%;
    max-width: 1000px;
    padding: 40px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 40px;
    color: #2c2c2c;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3),
    0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.poster {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.title {
    margin: 0;
    font-weight: 400;
    font-size: 32px;
}

.meta {
    margin-top: 10px;
    font-size: 14px;
    color: #777;
}

.genres {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.overview {
    margin-top: 30px;
    line-height: 1.6;
    color: #444;
}

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

@media screen and (max-width: 900px) {
    .detail {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .poster {
        max-width: 250px;
        margin: 0 auto;
    }
}
